<!DOCTYPE html>
<html lang = "en-us">
	<head>
		<meta charset="UTF-8">
		<title>Travel App</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<main id = "app">
			<header id = "entryHead">
				<h1>Going Somewhere?</h1>
			</header>
			<form id = "travelForm" onsubmit = "return Client.formValidation(event)">
				<section class ="locationCont">
					<label for="city">What City?</label>
					<input type="text" id="city" placeholder="Enter City"/>
					<label for="country">What Country?</label>
					<input type="text" id="country" placeholder="Enter Country. If In USA, Enter State"/>
				</section>
				<section class ="dateCont">
					<label for="date">When are you leaving?</label>
					<input type="date" id="date"/>
				</section>
				<section class ="dateCont">
					<label for="date">When are you coming back?</label>
					<input type="date" id="dateBack"/>
				</section>
				<section class ="btnCont">
					<button
						id="getInfo"
						type = "submit"
						onclick = "return Client.formValidation(event)"
						onsubmit = "return Client.formValidation(event)"> Get Info! </button>
				</section>
			</form>
			<section id ="responseCont" class = "hide">
				<img id = "locationImage"/ src = "">
				<h2 class = "title">Your Travel Information</h2>
				<div id = "location"></div>
				<div id = "dateRes"></div>
				<h2>Weather Forcast</h2>
				<div id = "weatherCont"></div>
				<button id = "reload" onclick = "return Client.reload(event)">
					Try a different location
				</button>
			</section>
		</main>
	<footer class = "footer"></footer>
	</body>
</html>