<!DOCTYPE html>
<html lang = "en-us">
	<head>
		<meta charset="UTF-8">
		<title>Travel App</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<main id = "app">
			<header>
				<h1>Get Information For Your Trip</h1>
			</header>
			<section class ="locationCont">
				<h2>Going Somewhere?</h2>
				<label for="country">What Country?</label>
				<input type="text" id="country" placeholder="Enter Country"/>
				<label for="city">What City?</label>
				<input type="text" id="city" placeholder="Enter City"/>
			</section>
			<section class ="dateCont">
				<label for="date">When are you going?</label>
				<input type="date" id="date"/>
			</section>
			<section class ="btnCont">
				<button id="getInfo" type = "submit"> Get Info! </button>
			</section>
			<section class ="responseCont">
				<h2 class = "title">Your Travel Information</h2>
				<div id = "location"></div>
				<div id = "date"></div>
				<div id = "locationImage"></div>
			</section>
		</main>
	<footer class = "footer"></footer>
	</body>
</html>