body {
	margin: 0;
	display:flex;
	justify-content: center;
	background: url(https://media.self.com/photos/5f0885ffef7a10ffa6640daa/4:3/w_2560%2Cc_limit/travel_plane_corona.jpeg) no-repeat center;
    background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
    background: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
	background: rgba(50,50,50,.4);
	min-width: 450px;
	max-width: 700px;
	min-height: 99vh;
	padding: 10px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

h1{
    font-size: 48px;
	margin: 0;
}

h3 {
	text-align: center;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

input {
	padding-left: 10px;
    height: 60px;
    width: 320px;
    background:#164991;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
	margin: 20px auto 0;
    width: 150px;
    background: #3b4a6b;
	padding: 20px;
    color: #fff;
	font: bold 26px 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
	&:hover {
		background: #fff;
		color: #3b4a6b;
		cursor: pointer;
	}
}

.btnCont {
	display: flex;
	justify-content: center;
}

textarea{
	padding-left: 10px;
    background:#164991;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


#responseCont {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

}

#locationImage {
	width: 80%;
	margin: 15px auto;
}

#weatherCont {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.weatherCard {
	min-width: 120px;
	text-align: center;
	border: 3px dotted gray;
	border-radius: 10px;
	margin: 20px;
	padding: 5px;
	background: rgba(50,50,50,.4)
}

.weatherHeader {
	margin: 5px;
}

.weatherCard p {
	margin: 0;
	font-size: 16px;
}

.weatherCard img {
	margin: -10px 0 -15px;
	width: 70%;
}

.hide {
	display: none !important;
}

#reload {
	width: 200px;
	font-size: 20px;
}











